table {
    background-color: blue;
    padding: 10px;
}
td {
    border: 1px grey solid;
    min-width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: white;
}
.number {
    background-color: yellow;
}
.string {
    background-color: red;
}